.connexion-modale {

  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.4);

  display: none;
  justify-content: center;
  align-items: flex-start;

  &.open {
    display: flex;

    .connexion {
      top: 30px;
      margin: 0 5px;
    }
  }

  .connexion {

    position: relative;
    top: -100px;

    background-color: $white;

    max-width: 600px;

    border-bottom: 1px solid $color2;
    border-left: 1px solid $color2;
    border-top: 1px solid $color2;
    border-right: 1px solid $color2;

    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;

      width: 30px;
      height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;

      border: none;
      box-shadow: 2px 2px 4px #000;

      border-radius: 50%;

      &:hover {
        background-color: $gray-200;
        box-shadow: 1px 1px 2px #000;

        background: $color-reddit;
        color: $white;
      }
    }

    h2 {
      margin: 10px 0;
    }

    .col-gauche, .col-droite {
      flex: 1 1 50%;
      padding: 20px;

    }

    .col-gauche {
      background-color: $color4;
      color: $white;
    }

    .login-media {
      display: flex;
      align-items: center;

      margin-top: 20px;
      color: $white;

      transition: all 0.3s linear 0s;

      &:hover {
        text-decoration: none;
      }

      &.login-facebook {
        border: 2px solid $color-facebook;

        i {
          background-color: $color-facebook;
        }
      }

      &.login-facebook:hover {
        background-color: $color-facebook;
      }

      &.login-google {
        border: 2px solid $color-googleplus;

        i {
          background-color: $color-googleplus;
        }
      }

      &.login-google:hover {
        background-color: $color-googleplus;
      }

      i {
        width: 45px;
        height: 45px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 10px;
      }

    }

    .form-connexion {

      display: flex;
      flex-direction: column;

      input[type="text"], input[type="password"] {
        border: none;
        outline: none;
        border-bottom: 3px solid $color3;
        border-left: 2px solid $color3;
        border-top: 1px solid $color3;
        border-right: 2px solid $color3;
        margin-bottom: 15px;
        padding-left: 10px;

        &:hover {

          border-bottom: 3px solid $color4;
          border-left: 2px solid $color4;
          border-top: 1px solid $color4;
          border-right: 2px solid $color4;

        }
      }

      input[type="text"]:invalid, input[type="password"]:invalid {
        box-shadow: none;
      }

      .btn-envoyer {

        background: $white;
        padding: 10px;
        border-bottom: 3px solid $color1;
        border-left: 2px solid $color1;
        border-top: 1px solid $color1;
        border-right: 2px solid $color1;
        border-radius: 10px;

        &:hover {
          background: $color1;

          border-bottom: 3px solid $color2;
          border-left: 2px solid $color2;
          border-top: 1px solid $color2;
          border-right: 2px solid $color2;

          color: $white;
        }
      }

      .genre {
        margin-bottom: 20px;
        p {
          margin: 0 0 5px;
        }

        label {
          margin-right: 10px;
        }
      }

    }

  }

}

@media screen and (min-width: $breakpoint-md) {
  .connexion-modale {
    .connexion {
      display: flex;

      .btn-close {
        right: -15px;
        top: -15px;
      }
    }

  }
}