//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color5;

  .fa-bars {
    font-size: rem(20);

    display: block;

    padding-bottom: 10px;

    color: $white;

    cursor: pointer;

    &:hover {
      color: $color1;
    }
  }

  .ouvre-menu {
    display: none;
  }

  .ouvre-menu + ul {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      padding-left: 10px;
    }

    ul {
      padding: 0;

      list-style: none;

      width: 100%;

      text-align: center;

      li {

        & > ul {
          display: none;

        }

        &:hover > ul {
          display: block;

          li:hover {
            background-color: $color4;
          }
        }

      }

    }

    .ouvre-menu:checked + ul {
      display: block;
    }

  }

}

@media screen and (min-width: $breakpoint-md) {

  .header-page {

    nav {
      flex-direction: row;
      justify-content: space-between;

      padding: 0 5px;

      .fa-bars {
        display: none;
      }

      .ouvre-menu:checked + ul {
        display: flex;
      }

      .menu-deroulant {
        width: auto;

        display: flex;

        a {
          padding: 5px 10px;
        }

        li {

          position: relative;

          & > ul {
            position: absolute;
            top: 100%;
            left: -10px;

            background-color: $color5;

            min-width: 120px;

            a {
              padding: auto;
            }

          }
        }

      }
    }

  }

}









