.hero {

  background: url("../images/banniere5472.jpg") center/cover no-repeat;

  min-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  h1 {
    font-size: rem(32);

    background-color: rgba(0, 0, 0, 0.5);

    color: $color2;

    padding: 10px;
  }

}

@media screen and (min-width: $breakpoint-md) {
  .hero {

    background: url("../images/banniere576.jpg") center/cover no-repeat;

  }

}

@media screen and (min-width: $breakpoint-lg) {
  .hero {

    background: url("../images/banniere768.jpg") center/cover no-repeat;

  }

}
