.images {

  margin: 20px auto;

  img {
    display: block;
  }

}

@media screen and(min-width: $breakpoint-md) {

  .images {

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto;

    img:nth-child(1) {

      grid-column: 1 / 2;
      grid-row: 1 / 2;

    }

    img:nth-child(2) {

      grid-column: 2 / 3;
      grid-row: 1 / span 1;

    }

    img:nth-child(3) {

      grid-column: 1 / 3;
      grid-row: 2 / span 1;

    }

  }

}

@media screen and(min-width: $breakpoint-lg) {

  .images {

    grid-template-columns: 40px repeat(4, auto) 40px;
    grid-template-rows: 40px repeat(4, auto) 40px;

    img {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

      &:nth-child(1) {

        grid-column: 2 / 5;
        grid-row: 2 / 3;

      }

      &:nth-child(2) {

        grid-column: 5 / 6;
        grid-row: 3 / span 2;

      }

      &:nth-child(3) {

        grid-column: 1 / -1;
        grid-row: 1 / -1;

        z-index: -1;

      }

    }
  }

}
